html,
body {
  height: 100%;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  padding: 0;
  appearance: none;
}

body {
  font-family: v-sans, v-mono, sans-serif;
  font-size: 16px;
}
