<script lang="ts" setup>
import { NButton, NIcon, NLayout, NSpace } from 'naive-ui';
import { MoonOutline, SunnyOutline } from '@vicons/ionicons5';
import { isDark, toggleDark } from '@/composables';
</script>

<template>
  <n-space>
    <n-layout>
      <div class="page">
        <n-button @click="toggleDark()">
          <template #icon>
            <n-icon v-if="isDark" :component="SunnyOutline" />
            <n-icon v-else :component="MoonOutline" />
          </template>
        </n-button>
      </div>
    </n-layout>
  </n-space>
</template>

<style>
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}
</style>
