<script lang="ts" setup>
import { computed } from 'vue';
import {
  NConfigProvider,
  NDialogProvider,
  NLoadingBarProvider,
  NMessageProvider,
  NNotificationProvider,
  NSpace,
  darkTheme,
} from 'naive-ui';
import Home from './pages/HomePage.vue';
import { isDark } from './composables';

const getDarkTheme = computed(() => (isDark.value ? darkTheme : undefined));
</script>

<template>
  <n-config-provider :theme="getDarkTheme">
    <n-loading-bar-provider>
      <n-message-provider>
        <n-dialog-provider>
          <Home />
        </n-dialog-provider>
      </n-message-provider>
    </n-loading-bar-provider>
  </n-config-provider>
</template>
